:root {
--main-color-text: #434455;
--secondary-color-text: #2E2F42;
--white-color: #FFFFFF;
--logo-color: #4D5AE5;
--border-color: #E7E9FC;
--background-color: #E5E5E5;
--secondary-background-color: #F4F4FD;
--button: #404BBF;
}

body {
    color: var(--main-color-text);
    background-color: var(--white-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/**
  |============================
  | Basic Styles
  |============================
*/

img {
    display: block;
}

.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--logo-color);
    border-radius: 4px;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    word-spacing: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */

header {
    border-bottom: 1px solid var(--border-color);
    font-weight: 500;
}

nav.link {
    list-style: none;
}

.link.website{
    color: var(--secondary-color-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link.website:hover, .link.website:focus, .address:hover, .address:focus, .logo:focus {
    color: var(--button);
}

header a {
    color: var(--main-color-text);
    text-decoration: none;
}

.address {
    font-style: normal;
}

.address.list {
    font-style: normal;
    letter-spacing: 0.02em;
    list-style: none;
    color: var(--secondary-color-text);
    text-decoration: none;
}

.link.address {
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
    list-style: none;
    color: var(--main-color-text);
    text-decoration: none;
}

.link.address:hover, .link.address:focus {
    color: var(--button)
}

header ul.list {
    
    color: var(--secondary-color-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

header ul.list:hover, header ul.list:focus {
    color: var(--button);
}

.list {
    letter-spacing: 0.02em;
    list-style-type: none;
}


.header .link {
    margin-right: 76px;
}

.header .container {

    align-items: center;
}

.nav.container {
    gap: 40px;
}

.header-item {
    padding: 24px 0;
}

/* Logo */

.logo {
    color: var(--secondary-color-text);
}

header .link, footer .link {
    
    letter-spacing: 0.03em;
        color: var(--logo-color);
        font-family: Raleway, sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        text-decoration: none;
        text-transform: uppercase;
}

.logo:hover, .logo:focus{
    color: var(--button);
}

/* Hero */

.hero {
    background-color: var(--secondary-color-text);
    padding: 188px 0;
   
}

.hero-title {
    color: var(--white-color);
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        max-width: 496px;
}

.hero > .button {
    color: var(--white-color);
    background-color: var(--logo-color);
    font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
}

.hero>.button:focus, .hero>.button:hover {
    background-color: var(--button);
}


/* Advantages */

.avantages-title, .advantages-list {
    color: var(--secondary-color-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.04em;
}

.advantages-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantages-p {
        color: var(--main-color-text);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.advantages {
    padding: 120px 0;
}

.advantages .list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100%-3*24px)/4);
}

/* What are we doing*/

.example, .team-title {
    color: var(--secondary-color-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.works {
    padding: 120px 0;
}

.example {
    margin-bottom: 72px;
}

.works .list {
    display: flex;
    gap: 24px;

}

.works-item {
    flex-basis: calc((100%-2*24px)/3);
}

/* Our Team */

.our-team {
    background-color: var(--secondary-background-color);
    padding: 120px 0;
}

.our-team .bgc {
    background-color: var(--white-color);
    display: flex;
    gap: 24px;
}

.team {
    color: var(--secondary-color-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-title {
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.position {
    text-align: center;
}

.our-team .bgc {
    flex-basis: calc((100%-3*24px)/4);
    max-width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-container {
    padding: 32px 16px;
}

/* footer */

.footer, footer .logo {
    color: var(--secondary-background-color);
    background-color: var(--secondary-color-text);
    letter-spacing: 0.02em;
}

/* Portfolio */

.list .button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--logo-color);
    background-color: var(--secondary-background-color);
    cursor: pointer;
}

.list .link {
    text-decoration: none;

}

.list .button:hover, .list .button:focus {
    color: var(--white-color);
    background-color: var(--button);
    cursor: pointer;
}

.example-list {
    color: var(--secondary-color-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.production-p {
    color: var(--main-color-text);
    text-decoration: none;
}
